= simple_form_for(@gift_card) do |f|
  = f.error_notification

  .form-inputs
    = f.association :card_issuer
    = f.input :card_number

  .form-actions
    = f.button :submit, 'Save Gift Card Info'
