%h1 Listing gift_cards

%table
  %thead
    %tr
      %th Card number
      %th Card issuer
      %th
      %th
      %th

  %tbody
    - @gift_cards.each do |gift_card|
      %tr
        %td= gift_card.card_number
        %td= gift_card.card_issuer
        %td= link_to 'Show', gift_card
        %td= link_to 'Edit', edit_gift_card_path(gift_card)
        %td= link_to 'Destroy', gift_card, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gift card', new_gift_card_path
